body {
  margin: 0;
  font-family: __inter_Fallback_20b187,ui-sans-serif,system-ui,-apple-system,"system-ui",Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  background: #131313;
}

/********************** Navigation Styling **********************/

.navigation-main{
  width: 70%;
  margin: 10px auto;
}

.navigation-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 50%;
  height: 50px;
  border-radius: 30px;
  backdrop-filter: blur(10px);
}

.navigation-item{
  color: grey;
  font-size: 20px;
}

.navigation-item:hover {
  color: #892CDC;
  transition-duration: 0.3s;
  cursor: pointer;
}


/********************** End of Navigation Styling **********************/



/********************** Personal Information Styling **********************/
.personal-main{
  width: 70%;
  margin: 0 auto;
  padding: 20vh 0px 100px;
  display: flex;
  flex-direction: row;
}

.personal-general-information{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.personal-spline{
  width: 60%;
}

.personal-general-information span {
  font-size: 50px;
  font-weight: 700;
  line-height: 56px;
  color: #892CDC;
}

.personal-about-me{
  color: grey;
  line-height: 1.6;
  font-weight: 400;
}

/********************** End of Personal Information Styling **********************/









/********************** Experience Styling **********************/

.experience-main{
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.experience-main h1{
  color: white;
}

.section-break {
  width: 100%;
  height: 2px;
  background-color: white;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}


/********************** End of Experience Styling **********************/









/********************** Project Styling **********************/
.projects-main{
  width: 70%;
  margin: 0 auto;
}
/********************** End of Project Styling **********************/












/********************** Contact Styling **********************/
.contact-main{
  width: 70%;
  margin: 0 auto;
}
/********************** End of cONTACT Styling **********************/